<?xml version="1.0"?>
<config>
    <modules>
        <Ditosas_HistoricoReporte>
            <version>1.0.0</version>
        </Ditosas_HistoricoReporte>
    </modules>
    <admin>
        <routers>
            <historicoreporte>
                <use>admin</use>
                <args>
                    <module>Ditosas_HistoricoReporte</module>
                    <frontName>historicoreporte</frontName>
                </args>
            </historicoreporte>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <report>
                <children>
                    <historicoreporte translate="title" module="historicoreporte">
                        <title>Histórico de ventas</title>
                        <action>historicoreporte/adminhtml_mymodule</action>
                    </historicoreporte>
                </children>
            </report>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <report>
                            <children>
                                <historicoreporte translate="title" module="historicoreporte">
                                    <title>Histórico de ventas</title>
                                    <action>historicoreporte/adminhtml_historicoreporte</action>
                                </historicoreporte>
                            </children>
                        </report>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <historicoreporte>
                    <file>historicoreporte.xml</file>
                </historicoreporte>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <models>
            <historicoreporte>
                <class>Ditosas_HistoricoReporte_Model</class>
                <resourceModel>historicoreporte</resourceModel>
            </historicoreporte>
        </models>
        <resources>
            <historicoreporte_setup>
                <setup>
                    <module>Ditosas_HistoricoReporte</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </historicoreporte_setup>
            <historicoreporte_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </historicoreporte_write>
            <historicoreporte_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </historicoreporte_read>
        </resources>
        <blocks>
            <historicoreporte>
                <class>Ditosas_HistoricoReporte_Block</class>
            </historicoreporte>
        </blocks>
        <helpers>
            <historicoreporte>
                <class>Ditosas_HistoricoReporte_Helper</class>
            </historicoreporte>
        </helpers>
    </global>
</config>