<?xml version="1.0"?>
<config>
    <modules>
        <Ditosas_CoordinadoraCourrier>
            <version>1.0.0</version>
        </Ditosas_CoordinadoraCourrier>
    </modules>
    <global>
        <models>
            <ditosas_coordinadoracourrier>
                <class>Ditosas_CoordinadoraCourrier_Model</class>
                <resourceModel>ditosas_coordinadoracourrier_resource</resourceModel>
            </ditosas_coordinadoracourrier>
            <ditosas_coordinadoracourrier_resource>
                <class>Ditosas_CoordinadoraCourrier_Model_Resource</class>
                <entities>
                    <costos>
                        <table>corpaul_courrier_costos</table>
                    </costos>
                </entities>
            </ditosas_coordinadoracourrier_resource>
        </models>
        <helpers>
            <ditosas_coordinadoracourrier>
                <class>Ditosas_CoordinadoraCourrier_Helper</class>
            </ditosas_coordinadoracourrier>
        </helpers>
        <resources>
            <ditosas_coordinadoracourrier_setup>
                <setup>
                    <module>Ditosas_CoordinadoraCourrier</module>
                </setup>
            </ditosas_coordinadoracourrier_setup>
        </resources>
    </global>
    <default>
        <carriers>
            <ditosas_coordinadoracourrier>
                <active>1</active>
                <sallowspecific>1</sallowspecific>
                <model>ditosas_coordinadoracourrier/carrier</model>
                <name>Coordinadora</name>
                <price>25000</price>
                <title>Coordinadora</title>
            </ditosas_coordinadoracourrier>
        </carriers>
    </default>
</config>