<?xml version="1.0"?>
<config>
    <modules>
        <Ditosas_ColombiaRegions>
            <version>1.0.1</version>
        </Ditosas_ColombiaRegions>
    </modules>
    <global>
        <resources>
            <ditosas_colombiaregions_setup>
                <setup>
                    <module>Ditosas_ColombiaRegions</module>
                </setup>
            </ditosas_colombiaregions_setup>
        </resources>
    </global>
</config>