@font-face {
  font-family: 'galano_grotesquebold_italic';
  src: url('fonts/galano/galano_grotesque_bold_italic-webfont.woff2') format('woff2'),
  url('fonts/galano/galano_grotesque_bold_italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'galano_grotesquebold';
  src: url('fonts/galano/galano_grotesque_bold-webfont.woff2') format('woff2'),
  url('fonts/galano/galano_grotesque_bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'galano_grotesqueitalic';
  src: url('fonts/galano/galano_grotesque_italic-webfont.woff2') format('woff2'),
  url('fonts/galano/galano_grotesque_italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'galano_grotesquelight_italic';
  src: url('fonts/galano/galano_grotesque_light_italic-webfont.woff2') format('woff2'),
  url('fonts/galano/galano_grotesque_light_italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'galano_grotesquelight';
  src: url('fonts/galano/galano_grotesque_light-webfont.woff2') format('woff2'),
  url('fonts/galano/galano_grotesque_light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'galano_grotesquemedium_italic';
  src: url('fonts/galano/galano_grotesque_medium_italic-webfont.woff2') format('woff2'),
  url('fonts/galano/galano_grotesque_medium_italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'galano_grotesquemedium';
  src: url('fonts/galano/galano_grotesque_medium-webfont.woff2') format('woff2'),
  url('fonts/galano/galano_grotesque_medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'galano_grotesqueregular';
  src: url('fonts/galano/galano_grotesque-webfont.woff2') format('woff2'),
  url('fonts/galano/galano_grotesque-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

a,p,span,strong,input,button,label,h1,h2,h3,h4,h5 {
  font-family: 'galano_grotesqueregular' !important;
}

.pager {
  margin: 0 !important;
}

img {
  vertical-align: initial !important;
}

.label {
  padding:0 !important;
  position: relative;
  top: 0;
  font-size: inherit !important;
}

body {
  &.catalog-category-view {
    .label {
      top:-3px
    }
  }
}

body {
  font-family: 'galano_grotesqueregular' !important;
  font-weight: normal;
  background-color: #ffffff;

  header {
    max-width: 1100px !important;

    margin: 0 auto !important;

    .logo {
      max-width: 200px !important;
      padding-left: 0 !important;
    }

    .account-cart-wrapper {
      width: 40%;
      text-align: right;
      font-family: 'galano_grotesqueregular' !important;
      top:20px;

      div {
        margin-right: 30px;

        &:last-of-type{
          margin-right: 0 !important;

          a {
            padding-right: 0 !important;
          }
        }
      }

      .msg {
        display: inline-block;
        vertical-align: middle;
        text-transform: uppercase;
        margin-right: 15px;

        a {
          color: #626262;

          span {
            color: #626262 !important;
          }

          &:hover {
            color: #626262;
            text-decoration: none !important;

            span {
              color: #636363 !important;
              opacity: 0.8;
            }
          }
        }
      }

      .account-link{
        display: inline-block;
        vertical-align: middle;
        a {
          color: #000000;

          span {
            color: #000000 !important;
          }

          &:hover {
            color: #636363;

            span {
              color: #636363 !important;
            }
          }
        }
      }

      .contact-phone{
        display: inline-block;
        vertical-align: middle;
        color:#2d2d2d !important;
        margin-top: -3px;

        img {
          height: 18px;
          position: relative;
          display: inline-block;
          top: 5px;
          margin-right: 2px;
        }
        span {
          display: inline-block;
          font-weight: 400 !important;
        }
      }
    }


    #header-nav {
      margin-top: 70px;
      border-bottom: none !important;
    }

    .header-search-container {
      position: absolute;
      top: 95px;
      right: 0;
      width: 100%;
      height: 50px;
      padding: 0;
      font-family: 'galano_grotesqueregular' !important;

      #header-search {
        display: inline-block;
        position: initial;
        width:100% !important;

        .minicart-wrapper {
          .block-subtitle {
            color: #000000;
            font-family: 'galano_grotesqueregular' !important;
            font-size: 11px !important;
          }
        }

        form {
          width:84%;
          float: left;

          .input-box {
            border: 1px solid #000000 !important;
            -webkit-border-radius:4px;
            -moz-border-radius:4px;
            border-radius:4px;
          }

          input {
            height: 48px !important;
            padding-left: 38px;
            font-family: 'galano_grotesqueregular';
            border:none !important;
          }

          button {
            right: initial !important;
            left: 0 !important;
            top:7px !important;
          }
        }
      }

      .header-minicart {
        display: inline-block;
        vertical-align: middle;
        float: right;
        width:150px;


        .minicart{
          height:50px;
          border: 1px solid #000000;

          .link {
            display: inline-block;
            background-color: #000000;
            width:80%;
            vertical-align: middle;
            height:48px;

            a {
              background-color: #000000 !important;
              color: #999999 !important;
              height: 48px;
              font-size: 13px !important;

              span {
                &.icon {
                  background-repeat: no-repeat !important;
                  background-position: 0px 4px;
                  background-image: url(../images/minicart-icon.png);
                }

                &.label {
                  position: relative;
                  top: 4px;
                  font-size: 13px;
                  color: #ffffff !important;
                }
              }
            }
          }

          .counter{
            display: inline-block;
            background-color: #ffffff;

            text-align: center;
            width: 19%;
            margin-left: -3px;
            font-weight: 400;
            font-size: 18px;
            margin-top: 2px;
            color: #000000;
            vertical-align: middle;
          }
        }
      }
    }


    //Navigation
    nav {
      text-align: center !important;

      ol {
        width: 100%;
        display: table !important;

        li {
          padding-right: 5px !important;
          margin-right: 0px;
          display: table-cell !important;

          a {
            padding-right: 0 !important;
            padding-left: 0 !important;
            color: rgba(0, 0, 0, 0.78) !important;
            font-weight: 300;
            border-color: #000000 !important;
          }

          a:hover {
            color: #000000 !important;
            border-bottom: 2px solid #000000;
          }

          a:active {
            color: #000000 !important;
            border-color: #000000 !important;
          }

          ul {
            z-index: 9999999 !important;
            padding-left: 0 !important;
            padding-right: 0 !important;

            top: 30px !important;
            left: -53%;
            display:none;

            li{
              display: block !important;
              padding-bottom: 13px;
              padding-right: 0 !important;


              a{
                line-height: 20px !important;
                height: 10px;
                border:none !important;
                text-transform: lowercase;
                text-align: left;
                padding-left: 1.5em !important;

                &:first-letter {
                  text-transform: uppercase !important;
                }

                &.ui-state-focus {
                  background: #ffffff !important;
                }

                span{
                  font-size: 11px;
                  font-weight: 600;
                  line-height: 0px !important;
                  padding-bottom: 0px;
                }
              }

              a:hover {
                text-decoration: none !important;
                border:none !important;
              }

              &:hover {
                background-color: #ccc;
              }
            }

          }

        }
      }
    }

  }

  .main-container{
    max-width: 1100px !important;
  }

}


//Float social icons
.addthis-animated  {
  a {
    margin-bottom: 2px !important;
    span {
       &.at-icon-wrapper {
         background-color: #000000 !important;
       }
    }

    &.at-svc-print, &.at-svc-compact {
      display: none !important;
    }
  }
}


//Footer
.footer-container {
  max-width: 100% !important;
  padding: 0 !important;

  .newsletter {
    background-color: rgba(2, 2, 2, 0.82);
    height:85px;
    text-align: center;
    display: block;

    .content{
      position: relative;
      top: 15px;

      span {
        top:4px;
        position: relative;
      }
    }

    form {
      display: inline-block;
      vertical-align: middle;

      .input-box {
        display: inline-block;
        vertical-align: middle;
      }

      .actions {
        display: inline-block;
        vertical-align: middle;
      }

      input {
        height: 45px!important;
        display: inline-block;
        color: #000000 !important;
        display: inline-block;
        vertical-align: middle;
      }

      button {
        height: 46px!important;
        display: inline-block;
        background-color: #fff;
        border-radius: 2px;
        border: 1px solid silver;
        margin-left: 8px;
        display: inline-block;
        vertical-align: middle;
        width: 112px !important;

        span {
          color: #000000 !important;
          display: inline-block;
          vertical-align: middle;
          margin-right: 0 !important;
          font-weight: 600;
          top:0!important;
        }
      }
    }

    span {
      color: #fbd61d;
      font-weight: 500;
      text-transform: uppercase;
      margin-right: 70px;
    }
  }

 .footer {
   max-width: 1100px !important;
   padding-left: 0px;
   padding-right: 0px;
   margin: 0 auto;

   .links-block {
     display: inline-block;
     vertical-align: middle;
     width: 70%;
     padding-left: 45px;

     .links {
       padding-right: 0;
       width: 24%;

       span {
         text-transform: uppercase;
         font-weight: 900;
         color: #000;
         font-size:15px !important;
       }

       ul {
         li {
           color: #000000;
           text-transform: lowercase;

           &:first-letter{
             text-transform: uppercase !important;
           }

           a {
             font-size: 13px !important;
           }
         }
       }

       &:nth-child(2) {
         width:26% !important;
       }
     }
   }

   .getsocial {
     display: inline-block;
     vertical-align: middle;
     width:29%;
     text-align: center;
     position: relative;
     top: -2em;

     span {
      display: block;
      text-align: center;
      text-transform: uppercase;
       color: #000;
       font-weight: 900;
       line-height: 30px;
       margin-bottom: 15px;
       font-size: 12px;
     }

     img {
       display: inline-block;
       vertical-align: middle;
       height: 25px !important;
       margin-right: 15px !important;
     }
   }
 }


  .pagend{
    border-top: 1px solid #cccccc;
    margin-top: 0px;

    .content {
      margin: 0 auto;
      max-width: 1260px;

      .copyright {
        display: inline-block;
        vertical-align: middle;
        width: 40%;
        width: 40%;
        padding-left: 75px;
        padding-top: 5px;

        span {
          font-weight: 900;
          color: #000000;
          font-family: 'galano_grotesquebold';
        }
      }

      .paymethods {
        display: inline-block;
        vertical-align: middle;
        width: 59%;
        position: relative;
        left:0 !important;
        
        img {
          float: right;
        }
      }
    }


  }
}

//Breadcrumbs
.breadcrumbs {

  ul {
    li {
      &:last-of-type {
        &:first-letter{
          text-transform: uppercase !important;
        }

        text-transform: lowercase;

      }


      font-size: 15px !important;
      line-height: 31px;

      a {
        text-transform: lowercase !important;

        &:hover {
          color: #000000 !important;
        }

        &::first-letter{
          text-transform: uppercase;
        }
      }


      strong {
        color: #000000 !important;


      }

      &::after{
        line-height:32px !important;
        margin: 0 3px !important;
      }
    }
  }
}

//swatches
.configurable_swatch_color {
  li {
    -moz-border-radius: 50px !important;
    -webkit-border-radius: 50px !important;;
    border-radius: 50px !important;;

    a {
      -moz-border-radius: 50px !important;;
      -webkit-border-radius: 50px !important;;
      border-radius: 50px !important;;

      span {
        -moz-border-radius: 50px !important;;
        -webkit-border-radius: 50px !important;;
        border-radius: 50px !important;;

        img {
          -moz-border-radius: 50px !important;;
          -webkit-border-radius: 50px !important;;
          border-radius: 50px !important;;
        }
      }
    }
  }
}

//Shopping cart
.cart-forms {
  div {
    &.discount {
      background-color: #fff !important;
      border: 2px solid #ccc !important;
    }

  }
  .shipping {
    display: none;
  }
}

.cart-totals-wrapper {
  .cart-totals {
    background-color: #ffffff !important;
    border: 2px solid #cccccc !important;
  }
}

//PDP
.product-view {
  .add-to-cart {
    input {
      &.qty {
        height:42px !important;
      }
    }
  }

 .product-shop{
   .price-info {
     float: left !important;
     padding-left: 0 !important;
     span {
       span {
         color: #000 !important;
         float: left !important;
         font-size: 30px !important;
       }
     }
   }

   .product-name{
     h3 {
       a {
         text-transform: lowercase !important;

         &:first-letter {
           text-transform: uppercase !important;
         }
       }
     }

     span {
       text-transform: lowercase !important;
       color: #000000 !important;

       &:first-letter {
         text-transform: uppercase !important;
       }
     }
   }

   .product-options{
     padding: 0 !important;
     border: none !important;

     ul {
       li {
         a {
           border:none !important;
         }
       }
     }

     .swatch-attr{
       label {
         color: #000 !important;
         font-size: 15px !important;
       }
     }
   }

   .product-options-bottom{
     padding: 0 !important;
     border: none !important;
     background-color: #ffffff !important;

     .add-to-cart{
       border-bottom: none !important;
     }
   }
 }
}

.product-cart-sku{
  font-family: 'galano_grotesqueregular' !important;
}

button {
  &.btn-checkout, &#onepage-guest-register-button, &.button {
    border-radius: 0 !important;
    background-color: #000000 !important;
    border:1px solid #000000 !important;
  }

  &.search-button {
    background: none !important;
    border: none !important;
  }

  &.btn-newsletter {
    background-color: #ffffff !important;
  }
}


//checkout
.opc {
  .step-title {
    .number {
      background-color: #000 !important;
    }

    h2 {
      color: #000000 !important;
    }
  }

  #opc-login {
    p {
      font-style: normal !important;
      font-family: 'galano_grotesqueregular' !important;
    }
  }
}


a, a:link, a:active, a:hover {
  color: #000000 !important;
}


h1, h2, h3, h4, strong {
  color: #000000 !important;
}

select {
  border: 1px solid #000 !important;
  border-radius: 0px !important;
  background-color: #ffffff !important;
}

a {
  &.swatch-link {
    -moz-border-radius: 50px !important;
    -webkit-border-radius: 50px !important;
    border-radius: 50px !important;
  }
}
.swatch-label{
  img {
    -moz-border-radius: 50px !important;
    -webkit-border-radius: 50px !important;
    border-radius: 50px !important;
  }
}

.slideshow-container {
  border: none !important;
  margin-bottom: 0 !important;


  .slideshow {
    border: none !important
  }

  .slideshow-next:hover {
    &::before {
      border-color: transparent transparent transparent #000000;
    }
  }
  .slideshow-prev:hover {
    &::before {
      border-color: transparent #000000 transparent transparent;
    }
  }


  .slideshow-pager {
    visibility: hidden;

    .cycle-pager-active {
      &::before {
        background-color: #000;
      }
    }
  }
}



//Homepage styles
.coleccion-destacada {
  display: block;
  padding-top: 16px;
  padding-bottom: 16px;

  .borders {
    display: inline-block;
    vertical-align: middle;
    border-top: 1px solid #000000;
    width: 34%;
  }

  .title {
    display: inline-block;
    vertical-align: middle;
    text-transform: uppercase;
    line-height: 1.55;
    font-size: 20px;
    color: #000000 !important;
    padding-left: 3.6%;
    padding-right: 3.6%;
  }
}

.widget-title{
  padding-top: 23px;
  padding-bottom: 16px;

  .borders {
    display: inline-block;
    vertical-align: middle;
    border-top: 1px solid #000000;
    width: 37.6%;
  }

  .title {
    display: inline-block;
    vertical-align: middle;
    text-transform: uppercase;
    line-height: 1.55;
    font-size: 20px;
    color: #000000 !important;
    padding-left: 3.6%;
    padding-right: 3.6%;
  }
}

.destacados_banner{
  position: relative;
  height: 317px;
  margin-bottom: 0px;

  .img1 {
    display: inline-block;
    position: absolute;
    left: 0;
    width:505px;
  }

  .img2 {
    display: inline-block;
    position: absolute;
    right: 0;
    width:505px;
  }
}

.access_home{
  height: 730px;
  display: block;

  .content{
    width:1114px;
    margin: 0 auto ;
  }

  .regala_text {
    display: block;
    margin-top: 40px;

    h3{
      font-family: 'galano_grotesquebold';
      text-transform: uppercase;
      color: #000000;
      font-size: 15px;
      line-height: 30px;
    }

    span {
      font-family: 'galano_grotesqueregular' !important;
      color: #000000;
      text-transform: capitalize;
      font-weight: 300;
      font-size: 15px;
      line-height: 30px;
    }
    
    a {
      display: block;
      color: #4478cc !important;
      font-size: 12px;
      font-family: 'galano_grotesqueregular' !important;
    }
  }

  .left {
    display: inline-block;
    vertical-align: middle;
  }

  .right {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;

    img {
      display: block;
      height:360px;
      position: relative;

      &:first-of-type{
        top:-4px;
      }
    }
  }
}

body {
  &.cms-home {
    .col-main {
      height:2250px;
    }
  }
}

.widget-products {
  ul {
    margin-top: 2em;
    li {
      a{
        &.product-image{
          border:none !important;
        }
      }
      width:31% !important;
      h3 {
        a {
          font-family:  'galano_grotesqueregular' !important;
          text-transform: capitalize;
          font-size: 18px;
          text-transform: lowercase;

          &:first-letter{
            text-transform: uppercase !important;
          }
        }

        a:first-letter {
          text-transform: uppercase !important;
        }
      }

      span {
        &.price {
          font-family: 'galano_grotesquebold' !important;
          color: #000 !important;
        }
      }

      &:hover {
        border: 1px solid #e4e2e2;
        box-shadow: 8px 5px 8px #ccc;
      }
    }
  }
}

body {
  &.cms-page-view {
    .col-main {
      padding-top: 30px;
      padding-bottom: 30px;
    }
  }
}

.widget-products {
  width:1114px !important;
  margin: 0 auto;

  ul {
    li {

      &:nth-child(2) {
        margin-left: 22px !important;
      }

      &:nth-child(3) {
        margin-right: 0 !important;
      }
    }
  }
}

.addthis_counter addthis_pill_style{
  display: none !important;
}

.btn-o {
  display: none !important;
}

.product-info {
  h3 {
    &.product-name {
      &:first-letter{
        text-transform: uppercase !important;
      }

      text-transform: lowercase;
    }
  }
}

.atc_s addthis_button_compact{
  display: none !important;
}

#header-account{
  background: #fff !important;
  top: 60px !important;
  right: 0 !important;

  ul {
    li{
      text-transform: lowercase;

      &:first-letter {
        text-transform: uppercase !important;
      }
      a {
        font-family: 'galano_grotesqueregular' !important;
        text-align: left;
        padding-left: 1.5em !important;
      }
    }
  }
}

//Magiczoom Modification
a{
  &.mz-thumb {
    margin-bottom: 10px !important;

    &:last-of-type {
      margin-bottom: 0 !important;
    }
  }
}

.yotpo-label {
  display: none !important;
}

//PDPs
.product-view{
  .short-description{
    .std {
      color: #000000 !important;
    }
  }

  .add-to-cart{
    .qty-wrapper {
      .qty {
        font-size: 18px !important;
        color: #000 !important;
      }

      input {
        font-size: 16px;
        color: #000000;
      }
    }
  }

  .extra-info{
    width: 100% !important;
    max-width: 100% !important;

    .value {
      color: #000;
      font-size: 12px;
      float: right;
    }
  }
}



section {
  &#category-head {
    h1, p {
      display:block;
    }

    h1 {
      &:first-letter{
        text-transform: uppercase;
      }

      font-size:2em;
      text-transform: lowercase;
      border-bottom:1px solid #cccccc;
      padding-bottom: 0.3em;
    }

    p {
      &:first-letter{
        text-transform: uppercase;
      }

      color: #686565;

    }

    padding-bottom: 2em;
  }
}

body {
  &.catalog-category-view {
    .container-fluid{
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
    .col-left {
      width: 20% !important;
    }
    .block-title{
      border-bottom: 1px solid #888787;
      padding-bottom: 0.3em;
    }

    .block-layered-nav {
      dl {
        dt,dd {
          border: none !important;
          background-color: #fff;
          padding-left: 0;
          padding-right: 0;
        }

        dt {
          padding-top: 0 !important;
          &:hover {
            background-color: #fff;
          }

          &:first-letter{
            text-transform: uppercase;
          }

          text-transform: lowercase;
        }
        dd {
          padding-top: 0 !important;
          &:first-of-type{
            padding-top: 0 !important;
          }
          ol{
            li{
              a {
                padding-left: 0;
                padding-right: 0;
              }

              &:last-of-type{
                border-bottom: 1px solid #cccccc;
              }
            }
          }

          .configurable-swatch-list{
            li {
              width: 100%;
            }
          }

          &:last-of-type {
            ol {
              li {
                border-bottom: none !important;
              }
            }

          }
        }
      }
    }

    .actions {
      padding-left: 0.5em;
      position: relative !important;
      min-height: auto !important;
      display: none;

      button {
        padding-left: 0.7em;
        padding-right: 0.7em;
        padding-top: 0.2em;
        padding-bottom: 0.2em;
        float: left;
      }
    }

    .product-info{
      padding-top: 1.5em;
      min-height: auto !important;
      padding-bottom: 1.5em !important;
    }

    .price-box{
      padding-top: 0.5em;
    }

    .product-name {
      &:first-letter{
        text-transform: uppercase !important;
      }

      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      text-transform: lowercase;
      color: #3f3f3f !important;

      h2 {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        a{
          color: #3f3f3f !important;
        }
      }
    }

    ul {
      &.products-grid {
        .product-image {
          border: none !important;
        }

        .ratings {
          display: none !important;
        }

        .price {
          color: #000;
          font-weight: 900;
          font-size:1.5em;
        }

        li {
          &:nth-child {
            margin-right: 0 !important;
            clear: none !important;
          }

          border: 1px solid #ccc;
          border-radius: 4px;
          margin-right: 0;
          width: 11vw;
          padding-left: 0.4em;
          padding-right: 0.4em;
          padding-bottom: 0;
          box-shadow: 0px 1px 5px #d8d8d8;
          margin-right: 1.56em !important;

          &:nth-child(4n){
            margin-right: 0 !important;
          }

          &:hover {
            cursor: pointer;

            .product-info {
              .actions {
                display: block !important;
              }
            }
          }
        }
      }



      &.add-to-links{
        display: inline-block;
        vertical-align: middle;
        list-style: none !important;
        margin-top: 0.3em;

        li {

          border: none !important;
          box-shadow: none !important;
          display: inline-block;
          vertical-align: middle;
          max-width: 1.5vw;
          padding: 0;
          margin-right: 0 !important;

          img {
            max-width: 100%;
          }
        }
      }
    }


    .category-products {
      .toolbar {
        border-top: none;
        background-color: #fff;
        margin-top: 0;
        padding: 0;

        label {
          &:first-letter {
            text-transform: uppercase !important
          }

          text-transform: lowercase;
        }

        .count-container {
          p {
            margin-left: 0 !important;
            span{
              display: inline-block;
              color: #ccc !important;
            }


            strong {
              display: inline-block;
              margin-left: 0.5em;
            }
          }
        }

        .pages {
          float: left;

          ol {
            li {
              &.current{
                width:25px !important;
              }

              margin-right:0.5em !important;
              padding-right: 0 !important;

              a {
                border-radius: 0 !important;
                padding-left: 3px !important;
                padding-right: 3px !important;
                padding-top: 0 !important;

                &.next{
                  &:before{
                    border-left:4px solid #000 !important;
                  }
                }

                &.previous {
                  &:before{
                    border-right:4px solid #000 !important;
                  }
                }
              }
            }
          }
        }

        .pager {
          float:left !important;
          width:32vw;
        }

        .sorter{
          float: right !important;

          select {
            width: 7vw !important;
            height: 4vh !important;
            border-radius: 0 !important;
            font-size: 1.1em !important;
          }
        }
      }

      .toolbar-bottom{
        visibility: hidden !important;
      }
    }
  }
}

