@font-face {
  font-family: 'galano_grotesquebold_italic';
  src: url('fonts/galano/galano_grotesque_bold_italic-webfont.woff2') format('woff2'), url('fonts/galano/galano_grotesque_bold_italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'galano_grotesquebold';
  src: url('fonts/galano/galano_grotesque_bold-webfont.woff2') format('woff2'), url('fonts/galano/galano_grotesque_bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'galano_grotesqueitalic';
  src: url('fonts/galano/galano_grotesque_italic-webfont.woff2') format('woff2'), url('fonts/galano/galano_grotesque_italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'galano_grotesquelight_italic';
  src: url('fonts/galano/galano_grotesque_light_italic-webfont.woff2') format('woff2'), url('fonts/galano/galano_grotesque_light_italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'galano_grotesquelight';
  src: url('fonts/galano/galano_grotesque_light-webfont.woff2') format('woff2'), url('fonts/galano/galano_grotesque_light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'galano_grotesquemedium_italic';
  src: url('fonts/galano/galano_grotesque_medium_italic-webfont.woff2') format('woff2'), url('fonts/galano/galano_grotesque_medium_italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'galano_grotesquemedium';
  src: url('fonts/galano/galano_grotesque_medium-webfont.woff2') format('woff2'), url('fonts/galano/galano_grotesque_medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'galano_grotesqueregular';
  src: url('fonts/galano/galano_grotesque-webfont.woff2') format('woff2'), url('fonts/galano/galano_grotesque-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
a,
p,
span,
strong,
input,
button,
label,
h1,
h2,
h3,
h4,
h5,
dd,
dt {
  font-family: 'galano_grotesqueregular' !important;
}
.pager {
  margin: 0 !important;
}
img {
  vertical-align: initial !important;
}
.label {
  padding: 0 !important;
  position: relative;
  top: 0;
  font-size: inherit !important;
}
select {
  height: 30px !important;
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
  background: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24' height='24' viewBox='0 0 24 24'><path fill='#444' d='M7.406 7.828l4.594 4.594 4.594-4.594 1.406 1.406-6 6-6-6z'></path></svg>");
  background-position: 100% 50%;
  background-repeat: no-repeat;
  padding-left: 7px !important;
  text-transform: lowercase;
  min-width: 45px;
}
select:first-letter {
  text-transform: uppercase;
}
.float_social_networks {
  position: fixed;
  top: 25%;
  width: 3pc;
  z-index: 100020;
  background: none;
}
.float_social_networks .social {
  position: relative;
  display: block;
  width: 3pc;
  margin: 0;
  text-align: center;
  float: left;
  cursor: pointer;
  z-index: 100030;
  margin-bottom: 3px;
}
.float_social_networks .social span {
  background-color: #000000 !important;
  display: block;
  height: 48px;
  padding-top: 8px;
}
.float_social_networks .social span svg {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 2pc;
  height: 2pc;
  line-height: 2pc;
  border: none;
  padding: 0;
  margin: 0 auto;
  overflow: hidden;
  cursor: pointer;
  margin-top: 0.3em;
  margin-left: 0.7em;
}
body.cms-page-view .std p {
  font-style: normal !important;
}
body.catalog-category-view .account-link a span {
  font-weight: 100;
}
body.catalog-category-view .contact-phone {
  margin-top: -12px !important;
}
body.catalog-category-view .label {
  top: -3px;
}
body.catalog-category-view .col1-layout .col-main {
  width: 88% !important;
  margin: 0 auto !important;
}
body.catalog-category-view .col1-layout .col-main ul.products-grid li {
  width: 22.5%;
}
body.checkout-cart-index .cart-table {
  width: 64%;
}
body.checkout-cart-index .cart-forms,
body.checkout-cart-index .cart-totals-wrapper {
  width: 35%;
}
body.checkout-cart-index .cart-freeshipping-advice {
  float: right;
  clear: right;
  width: 35%;
  padding-left: 20px;
}
body.checkout-cart-index .cart-freeshipping-advice .remaining,
body.checkout-cart-index .cart-freeshipping-advice .free {
  width: 100%;
}
body.checkout-cart-index .cart-freeshipping-advice .remaining {
  background-color: rgba(255, 0, 0, 0.35);
}
body.checkout-cart-index .cart-freeshipping-advice .free {
  background-color: rgba(23, 215, 55, 0.35);
}
body.checkout-cart-index .cart-freeshipping-advice div {
  padding-top: 3px;
  padding-left: 5px;
  padding-bottom: 3px;
}
body.checkout-cart-index td.cart-footer-actions {
  padding: 0 !important;
}
body.customer-account-login .new-users {
  height: 306px;
}
body.customer-account-login .new-users .buttons-set {
  padding-top: 101px;
}
body.customer-account-login .new-users .buttons-set a {
  background-color: #000 !important;
}
body.customer-account-login .new-users .buttons-set a span {
  color: #fff !important;
}
body.customer-account .block-account .block-title {
  margin-bottom: 15px;
}
body.customer-account .block-account .block-title strong {
  font-family: 'galano_grotesquebold' !important;
  font-size: 24px !important;
  margin-bottom: 15px !important;
}
body.customer-account .block-content .actions button span {
  color: #ffffff !important;
}
body.customer-account ol#compare-items li a:after {
  color: #000000 !important;
}
body.customer-account ol#compare-items li a:hover {
  background-color: #000000 !important;
  border-color: #000000 !important;
}
body.customer-account ol#compare-items li a:hover:after {
  color: #ffffff !important;
}
body.checkout-onepage-index .page-title h1 {
  border-bottom: none !important;
}
body.checkout-onepage-index form input#billing:region_id,
body.checkout-onepage-index form input#shipping:region_id {
  display: inherit !important;
}
body.customer-account-create .input-box .checkbox {
  margin-left: 0 !important;
}
body.customer-account-create .input-box label[for="is_subscribed"] {
  text-transform: lowercase;
  padding: 6px 10px 6px 20px !important;
}
body.customer-account-create .input-box label[for="is_subscribed"]:first-letter {
  text-transform: uppercase !important;
}
body.customer-account-create select {
  border: 1px solid silver !important;
}
body.customer-account-create .required:after {
  display: none !important;
}
body.checkout-cart-index .link-wishlist,
body.checkout-cart-index .btn-continue,
body.checkout-cart-index .or {
  display: none !important;
}
body.checkout-cart-index .cart-footer-actions button:nth-child(3) {
  display: block;
}
body.checkout-cart-index .cart-totals table td {
  font-size: 15px !important;
}
body.wishlist-index-index .wishlist-sku {
  display: none !important;
}
body.wishlist-index-index .item-manage button span {
  color: #ffffff;
}
body.wishlist-index-index .btn-update span {
  color: #ffffff;
}
body.wishlist-index-index .btn-cart span {
  color: #ffffff;
}
body.wishlist-index-index .btn-cart a {
  display: none !important;
}
body.customer-account-create form ul li select {
  height: 30px !important;
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
  background: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24' height='24' viewBox='0 0 24 24'><path fill='#444' d='M7.406 7.828l4.594 4.594 4.594-4.594 1.406 1.406-6 6-6-6z'></path></svg>");
  background-position: 100% 50%;
  background-repeat: no-repeat;
  padding-left: 7px !important;
}
body.catalog-product-view .block-title {
  border-top: none !important;
}
body.catalog-product-view .block-related .block-title h2 {
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  text-transform: lowercase;
  font-size: 15px;
}
body.catalog-product-view .block-related .block-title h2:first-letter {
  text-transform: uppercase;
}
body.catalog-product-view .block-related .block-content ol li {
  width: 20%;
  display: inline-block;
}
body.catalog-product-view .block-related .block-content ol li .product {
  margin-left: 10px !important;
  margin-right: 10px;
}
body.catalog-product-view .block-related .block-content ol li .product a {
  display: block;
  border: none;
  float: none;
}
body.catalog-product-view .block-related .block-content ol li .product .product-details {
  margin-left: 0 !important;
}
body.catalog-product-view .block-related .block-content ol li .product .product-details p {
  text-transform: lowercase;
  text-align: center;
}
body.catalog-product-view .block-related .block-content ol li .product .product-details p:first-letter {
  text-transform: uppercase;
}
body.catalog-product-view .block-related .block-content ol li .product .product-details .price-box span {
  width: 100%;
  text-align: center;
  color: #000000;
}
body.catalog-product-view .add-to-cart {
  border-bottom: none !important;
}
body.catalog-product-view .product-essential .price-tax-advise {
  float: left;
  margin-top: 10px;
  margin-left: 15px;
}
body.catalog-product-view .product-essential .price-tax-advise span {
  font-size: 13px;
  color: #000000;
  font-family: 'Lato', sans-serif !important;
  font-weight: bolder;
}
body.catalog-product-view .product-essential .add-to-cart-wrapper .add-to-box .add-to-cart-buttons {
  margin-left: 15px;
  margin-right: 0 !important;
}
body.catalog-product-view .product-essential .add-to-cart-wrapper .add-to-box .qty-wrapper label {
  color: #0e0e0e;
  font-size: 18px;
}
body.catalog-product-view .product-essential .add-to-cart-wrapper .add-to-box .qty-wrapper input {
  margin-left: 5px !important;
}
body.catalog-product-view .product-essential .add-to-cart-wrapper .add-to-box .add-to-cart-buttons {
  width: 50% !important;
}
body.catalog-product-view .product-essential .add-to-cart-wrapper .add-to-box .add-to-cart-buttons button {
  margin-bottom: 5px !important;
}
body.catalog-product-view .product-essential .add-to-cart-wrapper .add-to-box .add-to-cart-buttons a {
  color: #4478cc !important;
  font-size: 12px;
  font-family: 'galano_grotesqueregular' !important;
}
body.catalog-product-view .product-essential .extra-info .ratings {
  margin-top: 0 !important;
}
body.catalog-product-view .product-essential .extra-info .ratings .rating-links {
  clear: none;
}
body.catalog-product-view .product-essential .extra-info .ratings .rating-links a,
body.catalog-product-view .product-essential .extra-info .ratings .rating-links .separator {
  color: #4478cc !important;
  font-size: 12px;
  font-family: 'galano_grotesqueregular' !important;
}
body.catalog-product-view .product-essential .extra-info .ratings .rating-box {
  background: none !important;
  width: 130px;
  margin-top: 4px !important;
  margin-right: 0 !important;
}
body.catalog-product-view .product-essential .extra-info .ratings .rating-box .rating {
  background: none !important;
  background-position: inherit;
  background-repeat: no-repeat;
}
body.catalog-product-view #customer-reviews .review-heading {
  border-top: none !important;
}
body.catalog-product-view #customer-reviews .review-heading h2 {
  text-transform: lowercase;
  font-size: 15px;
}
body.catalog-product-view #customer-reviews .review-heading h2:first-letter {
  text-transform: uppercase;
}
body.catalog-product-view #customer-reviews dd {
  margin-bottom: 40px;
}
body.catalog-product-view #customer-reviews dd.first {
  display: block;
}
body.catalog-product-view #customer-reviews dd.hidden {
  display: none;
}
body.catalog-product-view #customer-reviews dd.visible {
  display: block;
}
body.catalog-product-view #customer-reviews dt {
  color: #000000 !important;
  text-transform: lowercase;
  font-size: 15px;
}
body.catalog-product-view #customer-reviews dt:first-letter {
  text-transform: uppercase !important;
}
body.catalog-product-view #customer-reviews dt.first {
  display: block;
}
body.catalog-product-view #customer-reviews dt.hidden {
  display: none;
}
body.catalog-product-view #customer-reviews dt.visible {
  display: block;
}
body.catalog-product-view #customer-reviews .review-meta {
  display: none !important;
}
body.catalog-product-view #customer-reviews .form-add h4 {
  text-transform: lowercase;
  font-size: 15px;
  padding-bottom: 10px;
}
body.catalog-product-view #customer-reviews .form-add h4:first-letter {
  text-transform: uppercase;
}
body.catalog-product-view #customer-reviews .form-add .fieldset {
  width: 100%;
}
body.catalog-product-view #customer-reviews .form-add .fieldset table {
  width: 60%;
  float: left;
  border-bottom: none !important;
}
body.catalog-product-view #customer-reviews .form-add .fieldset table thead th {
  padding-left: 10px !important;
  padding-right: 10px !important;
}
body.catalog-product-view #customer-reviews .form-add .fieldset table thead th .rating-box {
  width: 100% !important;
  background: none !important;
}
body.catalog-product-view #customer-reviews .form-add .fieldset table thead th .rating-box .rating {
  background: none !important;
  width: 100%;
}
body.catalog-product-view #customer-reviews .form-add .fieldset ul {
  float: right;
  width: 38%;
}
body.catalog-product-view #customer-reviews .form-add .buttons-set {
  width: 100%;
}
body.catalog-product-view #customer-reviews p.rating-desc {
  display: inline-block;
  width: 68%;
}
body.catalog-product-view #customer-reviews .ratings-table {
  display: inline-block;
  width: 30%;
  float: right;
  margin-top: 0 !important;
}
body.catalog-product-view #customer-reviews .ratings-table tbody {
  float: right;
}
body.catalog-product-view #customer-reviews .ratings-table .rating-box {
  background: none !important;
  height: 17px;
  overflow: visible;
  width: 170px;
}
body.catalog-product-view #customer-reviews .ratings-table .rating-box .rating {
  background: none !Important;
  text-indent: initial;
  width: 100%;
}
body.catalog-product-view #customer-reviews .ratings-table .rating-box .rating:first-letter {
  text-transform: uppercase !important;
}
body.catalog-product-view #customer-reviews .ratings-table .rating-box .rating span {
  display: inline;
  text-transform: lowercase;
}
body.catalog-product-view #customer-reviews .ratings-table .rating-box .rating span:first-letter {
  text-transform: uppercase !important;
}
body.catalog-product-view #customer-reviews .ratings-table .rating-box .rating img {
  display: inline;
  float: right;
}
body.catalog-product-view #customer-reviews button#ver-mas-btn {
  min-height: 40px;
  line-height: 40px;
  font-size: 16px;
  padding: 0px 30px;
  border: 1px solid #000;
  background-color: #000;
}
body.catalog-product-view #customer-reviews button#ver-mas-btn span {
  color: #ffffff;
}
body {
  font-family: 'galano_grotesqueregular' !important;
  font-weight: normal;
  background-color: #ffffff;
}
body header {
  max-width: 1100px !important;
  border-bottom: none !important;
  margin: 0 auto !important;
}
body header .logo {
  max-width: 200px !important;
  padding-left: 0 !important;
}
body header .account-cart-wrapper {
  width: 50%;
  text-align: right;
  font-family: 'galano_grotesqueregular' !important;
  top: 20px;
}
body header .account-cart-wrapper div {
  margin-right: 30px;
}
body header .account-cart-wrapper div:last-of-type {
  margin-right: 0 !important;
}
body header .account-cart-wrapper div:last-of-type a {
  padding-right: 0 !important;
}
body header .account-cart-wrapper .msg {
  display: inline-block;
  vertical-align: middle;
  text-transform: uppercase;
  margin-right: 15px;
}
body header .account-cart-wrapper .msg a {
  color: #626262;
}
body header .account-cart-wrapper .msg a span {
  color: #000 !important;
}
body header .account-cart-wrapper .msg a span.customer_name {
  padding-right: 25px !important;
}
body header .account-cart-wrapper .msg a:hover {
  color: #000 !important;
  text-decoration: none !important;
}
body header .account-cart-wrapper .msg a:hover span {
  color: #000 !important;
}
body header .account-cart-wrapper .account-link {
  display: inline-block;
  vertical-align: middle;
}
body header .account-cart-wrapper .account-link a {
  color: #000000;
  padding-top: 1px;
}
body header .account-cart-wrapper .account-link a span {
  color: #000000 !important;
}
body header .account-cart-wrapper .account-link a:hover {
  color: #636363;
}
body header .account-cart-wrapper .account-link a:hover span {
  color: #636363 !important;
}
body header .account-cart-wrapper .contact-phone {
  display: inline-block;
  vertical-align: middle;
  color: #2d2d2d !important;
  margin-top: -3px;
}
body header .account-cart-wrapper .contact-phone img {
  height: 18px;
  position: relative;
  display: inline-block;
  top: 5px;
  margin-right: 2px;
}
body header .account-cart-wrapper .contact-phone span {
  display: inline-block;
  font-weight: 400 !important;
}
body header #header-nav {
  margin-top: 70px;
  border-bottom: none !important;
}
body header .header-search-container {
  position: absolute;
  top: 95px;
  right: 0;
  width: 100%;
  height: 50px;
  padding: 0;
  font-family: 'galano_grotesqueregular' !important;
}
body header .header-search-container #header-search {
  display: inline-block;
  position: initial;
  width: 100% !important;
}
body header .header-search-container #header-search .minicart-wrapper .block-subtitle {
  color: #000000;
  font-family: 'galano_grotesqueregular' !important;
  font-size: 11px !important;
}
body header .header-search-container #header-search form {
  width: 84%;
  float: left;
}
body header .header-search-container #header-search form .input-box {
  border: 1px solid #000000 !important;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
body header .header-search-container #header-search form input {
  height: 48px !important;
  padding-left: 38px;
  font-family: 'galano_grotesqueregular';
  border: none !important;
}
body header .header-search-container #header-search form button {
  right: initial !important;
  left: 0 !important;
  top: 7px !important;
}
body header .header-search-container .header-minicart {
  display: inline-block;
  vertical-align: middle;
  float: right;
  width: 150px;
}
body header .header-search-container .header-minicart .minicart {
  height: 50px;
  border: 1px solid #000000;
}
body header .header-search-container .header-minicart .minicart .link {
  display: inline-block;
  background-color: #000000;
  width: 80%;
  vertical-align: middle;
  height: 48px;
}
body header .header-search-container .header-minicart .minicart .link a {
  background-color: #000000 !important;
  color: #999999 !important;
  height: 48px;
  font-size: 13px !important;
}
body header .header-search-container .header-minicart .minicart .link a span.icon {
  background-repeat: no-repeat !important;
  background-position: 0px 4px;
  background-image: url(../images/minicart-icon.png);
}
body header .header-search-container .header-minicart .minicart .link a span.label {
  position: relative;
  top: 4px;
  font-size: 13px;
  color: #ffffff !important;
}
body header .header-search-container .header-minicart .minicart .counter {
  display: inline-block;
  background-color: #ffffff;
  text-align: center;
  width: 19%;
  margin-left: -3px;
  font-weight: 400;
  font-size: 18px;
  margin-top: 2px;
  color: #000000;
  vertical-align: middle;
}
body header nav {
  text-align: center !important;
}
body header nav ol {
  width: 100%;
  display: table !important;
}
body header nav ol li {
  padding-right: 5px !important;
  margin-right: 0px;
  display: table-cell !important;
}
body header nav ol li a {
  padding-right: 0 !important;
  padding-left: 0 !important;
  color: rgba(0, 0, 0, 0.78) !important;
  font-weight: 300;
  border-color: #000000 !important;
}
body header nav ol li a:hover {
  color: #000000 !important;
  border-bottom: 2px solid #000000;
}
body header nav ol li a:active {
  color: #000000 !important;
  border-color: #000000 !important;
}
body header nav ol li ul {
  z-index: 9999999 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
  top: 30px !important;
  left: -53%;
  display: none;
}
body header nav ol li ul li {
  display: block !important;
  padding-bottom: 13px;
  padding-right: 0 !important;
}
body header nav ol li ul li a {
  line-height: 20px !important;
  height: 10px;
  border: none !important;
  text-transform: lowercase;
  text-align: left;
  padding-left: 1.5em !important;
}
body header nav ol li ul li a:first-letter {
  text-transform: uppercase !important;
}
body header nav ol li ul li a.ui-state-focus {
  background: #ffffff !important;
}
body header nav ol li ul li a span {
  font-size: 11px;
  font-weight: 600;
  line-height: 0px !important;
  padding-bottom: 0px;
}
body header nav ol li ul li a:hover {
  text-decoration: none !important;
  border: none !important;
}
body header nav ol li ul li:hover {
  background-color: #ccc;
}
body .main-container {
  max-width: 1100px !important;
  margin-bottom: 1em;
}
.addthis-animated a {
  margin-bottom: 2px !important;
}
.addthis-animated a span.at-icon-wrapper {
  background-color: #000000 !important;
}
.addthis-animated a.at-svc-print,
.addthis-animated a.at-svc-compact {
  display: none !important;
}
.footer-container {
  max-width: 100% !important;
  padding: 0 !important;
}
.footer-container .newsletter {
  background-color: rgba(2, 2, 2, 0.82);
  height: 70px;
  text-align: center;
  display: block;
}
.footer-container .newsletter .content {
  position: relative;
  top: 10px;
}
.footer-container .newsletter .content span {
  top: 3px;
  position: relative;
  font-size: 13px;
}
.footer-container .newsletter form {
  display: inline-block;
  vertical-align: middle;
}
.footer-container .newsletter form .input-box {
  display: inline-block;
  vertical-align: middle;
}
.footer-container .newsletter form .actions {
  display: inline-block;
  vertical-align: middle;
}
.footer-container .newsletter form input {
  height: 45px!important;
  color: #000000 !important;
  display: inline-block;
  vertical-align: middle;
}
.footer-container .newsletter form button {
  height: 46px!important;
  background-color: #fff;
  border-radius: 2px;
  border: 1px solid silver;
  margin-left: 8px;
  display: inline-block;
  vertical-align: middle;
  width: 112px !important;
}
.footer-container .newsletter form button span {
  color: #000000 !important;
  display: inline-block;
  vertical-align: middle;
  margin-right: 0 !important;
  font-weight: 600;
  top: 0!important;
}
.footer-container .newsletter span {
  color: #fbd61d;
  font-weight: 500;
  text-transform: uppercase;
  margin-right: 70px;
}
.footer-container .footer {
  max-width: 1100px !important;
  padding-left: 0px;
  padding-right: 0px;
  margin: 0 auto;
}
.footer-container .footer .links-block {
  display: inline-block;
  vertical-align: middle;
  width: 70%;
  padding-left: 45px;
}
.footer-container .footer .links-block .links {
  padding-right: 0;
  width: 24%;
}
.footer-container .footer .links-block .links span {
  text-transform: uppercase;
  font-weight: 900;
  color: #000;
  font-size: 15px !important;
}
.footer-container .footer .links-block .links abbr {
  text-transform: uppercase !important;
}
.footer-container .footer .links-block .links ul li {
  color: #000000;
  text-transform: lowercase;
}
.footer-container .footer .links-block .links ul li:first-letter {
  text-transform: uppercase !important;
}
.footer-container .footer .links-block .links ul li a {
  font-size: 13px !important;
}
.footer-container .footer .links-block .links:nth-child(2) {
  width: 26% !important;
}
.footer-container .footer .getsocial {
  display: inline-block;
  vertical-align: middle;
  width: 29%;
  text-align: center;
  position: relative;
  top: -2em;
}
.footer-container .footer .getsocial span {
  display: block;
  text-align: center;
  text-transform: uppercase;
  color: #000;
  font-weight: 900;
  line-height: 30px;
  margin-bottom: 15px;
  font-size: 12px;
}
.footer-container .footer a.socialimg img {
  display: inline-block;
  vertical-align: middle;
  height: 25px !important;
  margin-right: 15px !important;
}
.footer-container .pagend {
  border-top: 1px solid #cccccc;
  margin-top: 0px;
}
.footer-container .pagend .content {
  margin: 0 auto;
  max-width: 1260px;
}
.footer-container .pagend .content .copyright {
  display: inline-block;
  vertical-align: middle;
  width: 40%;
  padding-left: 75px;
  padding-top: 5px;
}
.footer-container .pagend .content .copyright span {
  font-weight: 900;
  color: #000000;
  font-family: 'galano_grotesquebold';
}
.footer-container .pagend .content .paymethods {
  display: inline-block;
  vertical-align: middle;
  width: 59%;
  position: relative;
  left: 0 !important;
}
.footer-container .pagend .content .paymethods img {
  float: right;
}
.breadcrumbs ul li {
  font-size: 15px !important;
  line-height: 31px;
}
.breadcrumbs ul li:last-of-type {
  text-transform: lowercase;
}
.breadcrumbs ul li:last-of-type:first-letter {
  text-transform: uppercase !important;
}
.breadcrumbs ul li a {
  text-transform: lowercase !important;
}
.breadcrumbs ul li a:hover {
  color: #000000 !important;
}
.breadcrumbs ul li a::first-letter {
  text-transform: uppercase;
}
.breadcrumbs ul li strong {
  color: #000000 !important;
}
.breadcrumbs ul li::after {
  line-height: 32px !important;
  margin: 0 3px !important;
}
.configurable_swatch_color li {
  -moz-border-radius: 50px !important;
  -webkit-border-radius: 50px !important;
  border-radius: 50px !important;
}
.configurable_swatch_color li a {
  -moz-border-radius: 50px !important;
  -webkit-border-radius: 50px !important;
  border-radius: 50px !important;
}
.configurable_swatch_color li a span {
  -moz-border-radius: 50px !important;
  -webkit-border-radius: 50px !important;
  border-radius: 50px !important;
}
.configurable_swatch_color li a span img {
  -moz-border-radius: 50px !important;
  -webkit-border-radius: 50px !important;
  border-radius: 50px !important;
}
.cart-forms div.discount {
  background-color: #fff !important;
  border: 2px solid #ccc !important;
}
.cart-forms .shipping {
  display: none;
}
.cart-totals-wrapper .cart-totals {
  background-color: #ffffff !important;
  border: 2px solid #cccccc !important;
}
.product-view .add-to-cart input.qty {
  height: 42px !important;
}
.product-view .product-shop .price-info {
  float: left !important;
  padding-left: 0 !important;
}
.product-view .product-shop .price-info span span {
  color: #000 !important;
  float: left !important;
  font-size: 30px !important;
}
.product-view .product-shop .product-name h3 a {
  text-transform: lowercase !important;
}
.product-view .product-shop .product-name h3 a:first-letter {
  text-transform: uppercase !important;
}
.product-view .product-shop .product-name span {
  text-transform: lowercase !important;
  color: #000000 !important;
}
.product-view .product-shop .product-name span:first-letter {
  text-transform: uppercase !important;
}
.product-view .product-shop .product-options {
  padding: 0 !important;
  border: none !important;
}
.product-view .product-shop .product-options ul li a {
  border: none !important;
}
.product-view .product-shop .product-options .swatch-attr label {
  color: #000 !important;
  font-size: 15px !important;
}
.product-view .product-shop .product-options-bottom {
  padding: 0 !important;
  border: none !important;
  background-color: #ffffff !important;
}
.product-view .product-shop .product-options-bottom .add-to-cart {
  border-bottom: none !important;
}
.product-cart-sku {
  font-family: 'galano_grotesqueregular' !important;
}
button.btn-checkout,
button#onepage-guest-register-button,
button.button {
  border-radius: 0 !important;
  background-color: #000000 !important;
  border: 1px solid #000000 !important;
}
button.search-button {
  background: none !important;
  border: none !important;
}
button.btn-newsletter {
  background-color: #ffffff !important;
}
.opc .step-title .number {
  background-color: #000 !important;
}
.opc .step-title h2 {
  color: #000000 !important;
}
.opc #opc-login p {
  font-style: normal !important;
  font-family: 'galano_grotesqueregular' !important;
}
a,
a:link,
a:active,
a:hover {
  color: #000000 !important;
}
h1,
h2,
h3,
h4,
strong {
  color: #000000 !important;
}
select {
  border: 1px solid #000 !important;
  border-radius: 0px !important;
  background-color: #ffffff !important;
}
a.swatch-link {
  -moz-border-radius: 50px !important;
  -webkit-border-radius: 50px !important;
  border-radius: 50px !important;
}
.swatch-label img {
  -moz-border-radius: 50px !important;
  -webkit-border-radius: 50px !important;
  border-radius: 50px !important;
}
.slideshow-container {
  border: none !important;
  margin-bottom: 0 !important;
}
.slideshow-container .slideshow {
  border: none !important;
}
.slideshow-container .slideshow-next:hover::before {
  border-color: transparent transparent transparent #000000;
}
.slideshow-container .slideshow-prev:hover::before {
  border-color: transparent #000000 transparent transparent;
}
.slideshow-container .slideshow-pager {
  visibility: hidden;
}
.slideshow-container .slideshow-pager .cycle-pager-active::before {
  background-color: #000;
}
.coleccion-destacada {
  display: block;
  padding-top: 16px;
  padding-bottom: 16px;
}
.coleccion-destacada .borders {
  display: inline-block;
  vertical-align: middle;
  border-top: 1px solid #000000;
  width: 34.55%;
}
.coleccion-destacada .title {
  display: inline-block;
  vertical-align: middle;
  text-transform: uppercase;
  line-height: 1.55;
  font-size: 20px;
  color: #000000 !important;
  padding-left: 3.6%;
  padding-right: 3.6%;
  font-family: 'Lato', sans-serif !important;
}
.widget-title {
  padding-top: 23px;
  padding-bottom: 16px;
}
.widget-title .borders {
  display: inline-block;
  vertical-align: middle;
  border-top: 1px solid #000000;
  width: 37.9%;
}
.widget-title .title {
  display: inline-block;
  vertical-align: middle;
  text-transform: uppercase;
  line-height: 1.55;
  font-size: 20px;
  color: #000000 !important;
  padding-left: 3.6%;
  padding-right: 3.6%;
  font-family: 'Lato', sans-serif !important;
}
.destacados_banner {
  position: relative;
  height: 317px;
  margin-bottom: 0px;
}
.destacados_banner .img1 {
  display: inline-block;
  position: absolute;
  left: 0;
  width: 505px;
}
.destacados_banner .img2 {
  display: inline-block;
  position: absolute;
  right: 0;
  width: 505px;
}
.access_home {
  height: 730px;
  display: block;
}
.access_home .content {
  width: 1040px;
  margin: 0 auto ;
}
.access_home .left {
  display: inline-block;
  vertical-align: middle;
  width: 48%;
}
.access_home .left img {
  width: 100%;
}
.access_home .right {
  display: inline-block;
  vertical-align: middle;
  width: 48%;
  float: right;
}
.access_home .right img {
  display: block;
  height: 360px;
  position: relative;
  width: 100%;
}
.regala_text {
  display: block;
  padding-top: 3em;
  padding-bottom: 3em;
}
.regala_text h3 {
  font-family: 'galano_grotesquebold';
  text-transform: uppercase;
  color: #000000;
  font-size: 15px;
  line-height: 30px;
}
.regala_text span {
  font-family: 'galano_grotesqueregular' !important;
  color: #000000;
  text-transform: capitalize;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
}
.regala_text a {
  display: block;
  color: #4478cc !important;
  font-size: 12px;
  font-family: 'galano_grotesqueregular' !important;
}
body.cms-home .col-main {
  height: auto;
}
.widget-products ul {
  margin-top: 2em;
}
.widget-products ul li {
  width: 31% !important;
}
.widget-products ul li a.product-image {
  border: none !important;
}
.widget-products ul li h3 a {
  font-family: 'galano_grotesqueregular' !important;
  text-transform: capitalize;
  font-size: 18px;
  text-transform: lowercase;
}
.widget-products ul li h3 a:first-letter {
  text-transform: uppercase !important;
}
.widget-products ul li h3 a:first-letter {
  text-transform: uppercase !important;
}
.widget-products ul li span.price {
  font-family: 'galano_grotesquebold' !important;
  color: #000 !important;
}
.widget-products ul li:hover {
  border: 1px solid #e4e2e2;
  box-shadow: 8px 5px 8px #ccc;
}
body.cms-page-view .col-main {
  padding-top: 30px;
  padding-bottom: 30px;
}
.widget-products {
  width: 1040px !important;
  margin: 0 auto;
}
.widget-products ul li:nth-child(2) {
  margin-left: 22px !important;
}
.widget-products ul li:nth-child(3) {
  margin-right: 0 !important;
}
.addthis_counter addthis_pill_style {
  display: none !important;
}
.btn-o {
  display: none !important;
}
.product-info h3.product-name a {
  text-transform: none !important;
}
.atc_s addthis_button_compact {
  display: none !important;
}
#header-account {
  background: #fff !important;
  top: 60px !important;
  right: 0 !important;
}
#header-account ul li {
  text-transform: lowercase;
}
#header-account ul li:first-letter {
  text-transform: uppercase !important;
}
#header-account ul li a {
  font-family: 'galano_grotesqueregular' !important;
  text-align: left;
  padding-left: 1.5em !important;
}
a.mz-thumb {
  margin-bottom: 10px !important;
}
a.mz-thumb:last-of-type {
  margin-bottom: 0 !important;
}
.yotpo-label {
  display: none !important;
}
.product-view .short-description .std {
  color: #000000 !important;
}
.product-view .add-to-cart .qty-wrapper .qty {
  font-size: 18px !important;
  color: #000 !important;
}
.product-view .add-to-cart .qty-wrapper input {
  font-size: 16px;
  color: #000000;
}
.product-view .extra-info {
  width: 100% !important;
  max-width: 100% !important;
}
.product-view .extra-info .value {
  color: #000;
  font-size: 12px;
  float: right;
}
section#category-head {
  padding-bottom: 2em;
}
section#category-head h1,
section#category-head p {
  display: block;
}
section#category-head h1 {
  font-size: 2em;
  text-transform: lowercase;
  border-bottom: 1px solid #cccccc;
  padding-bottom: 0.3em;
}
section#category-head h1:first-letter {
  text-transform: uppercase;
}
section#category-head p {
  color: #686565;
}
section#category-head p:first-letter {
  text-transform: uppercase;
}
body.catalog-category-view ol li span.label,
body.catalogsearch-result-index ol li span.label {
  vertical-align: middle;
}
body.catalog-category-view ol li span.value,
body.catalogsearch-result-index ol li span.value {
  vertical-align: top;
}
body.catalog-category-view ol.configurable-swatch-list,
body.catalogsearch-result-index ol.configurable-swatch-list {
  border-bottom: 1px solid #ccc;
}
body.catalog-category-view ol.configurable-swatch-list li a span,
body.catalogsearch-result-index ol.configurable-swatch-list li a span {
  border: none !important;
}
body.catalog-category-view ol.configurable-swatch-list li a span img[alt="White"],
body.catalogsearch-result-index ol.configurable-swatch-list li a span img[alt="White"] {
  border: 1px solid #ccc;
}
body.catalog-category-view ol.configurable-swatch-list li:last-of-type,
body.catalogsearch-result-index ol.configurable-swatch-list li:last-of-type {
  border-bottom: none !important;
}
body.catalog-category-view .container-fluid,
body.catalogsearch-result-index .container-fluid {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
body.catalog-category-view .col-left,
body.catalogsearch-result-index .col-left {
  width: 20% !important;
}
body.catalog-category-view .block-title,
body.catalogsearch-result-index .block-title {
  border-bottom: 1px solid #888787;
  padding-bottom: 0.3em;
}
body.catalog-category-view .block-layered-nav dl dt,
body.catalogsearch-result-index .block-layered-nav dl dt,
body.catalog-category-view .block-layered-nav dl dd,
body.catalogsearch-result-index .block-layered-nav dl dd {
  border: none !important;
  background-color: #fff;
  padding-left: 0;
  padding-right: 0;
}
body.catalog-category-view .block-layered-nav dl dt,
body.catalogsearch-result-index .block-layered-nav dl dt {
  padding-top: 0 !important;
  text-transform: lowercase;
}
body.catalog-category-view .block-layered-nav dl dt:hover,
body.catalogsearch-result-index .block-layered-nav dl dt:hover {
  background-color: #fff;
}
body.catalog-category-view .block-layered-nav dl dt:first-letter,
body.catalogsearch-result-index .block-layered-nav dl dt:first-letter {
  text-transform: uppercase;
}
body.catalog-category-view .block-layered-nav dl dd,
body.catalogsearch-result-index .block-layered-nav dl dd {
  padding-top: 0 !important;
}
body.catalog-category-view .block-layered-nav dl dd:first-of-type,
body.catalogsearch-result-index .block-layered-nav dl dd:first-of-type {
  padding-top: 0 !important;
}
body.catalog-category-view .block-layered-nav dl dd ol li a,
body.catalogsearch-result-index .block-layered-nav dl dd ol li a {
  padding-left: 0;
  padding-right: 0;
}
body.catalog-category-view .block-layered-nav dl dd ol li:last-of-type,
body.catalogsearch-result-index .block-layered-nav dl dd ol li:last-of-type {
  border-bottom: 1px solid #cccccc;
}
body.catalog-category-view .block-layered-nav dl dd .configurable-swatch-list li,
body.catalogsearch-result-index .block-layered-nav dl dd .configurable-swatch-list li {
  width: 100%;
}
body.catalog-category-view .block-layered-nav dl dd:last-of-type ol li,
body.catalogsearch-result-index .block-layered-nav dl dd:last-of-type ol li {
  border-bottom: none !important;
}
body.catalog-category-view .actions,
body.catalogsearch-result-index .actions {
  padding-left: 0.5em;
  position: relative !important;
  min-height: auto !important;
  display: none;
}
body.catalog-category-view .actions button,
body.catalogsearch-result-index .actions button {
  padding-left: 0.7em;
  padding-right: 0.7em;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  float: left;
}
body.catalog-category-view .product-info,
body.catalogsearch-result-index .product-info {
  padding-top: 1.5em;
  min-height: auto !important;
  padding-bottom: 1.5em !important;
}
body.catalog-category-view .price-box,
body.catalogsearch-result-index .price-box {
  padding-top: 0.5em;
}
body.catalog-category-view .product-name,
body.catalogsearch-result-index .product-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: lowercase;
  color: #3f3f3f !important;
}
body.catalog-category-view .product-name:first-letter,
body.catalogsearch-result-index .product-name:first-letter {
  text-transform: uppercase !important;
}
body.catalog-category-view .product-name h2,
body.catalogsearch-result-index .product-name h2 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
body.catalog-category-view .product-name h2 a,
body.catalogsearch-result-index .product-name h2 a {
  color: #3f3f3f !important;
}
body.catalog-category-view ul.products-grid p.laststock,
body.catalogsearch-result-index ul.products-grid p.laststock {
  color: #ff0000;
  font-size: 11px;
  text-align: center;
  margin-bottom: 5px;
  margin-top: 7px;
}
body.catalog-category-view ul.products-grid p.hidden,
body.catalogsearch-result-index ul.products-grid p.hidden {
  display: block !important;
  visibility: hidden!important;
}
body.catalog-category-view ul.products-grid .product-image,
body.catalogsearch-result-index ul.products-grid .product-image {
  border: none !important;
}
body.catalog-category-view ul.products-grid .ratings,
body.catalogsearch-result-index ul.products-grid .ratings {
  display: none !important;
}
body.catalog-category-view ul.products-grid .price,
body.catalogsearch-result-index ul.products-grid .price {
  color: #000;
  font-weight: 900;
  font-size: 1.5em;
}
body.catalog-category-view ul.products-grid li,
body.catalogsearch-result-index ul.products-grid li {
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 0;
  width: 22.5%;
  padding-left: 0.4em;
  padding-right: 0.4em;
  padding-bottom: 0;
  box-shadow: 0px 1px 5px #d8d8d8;
  margin-right: 1.56em !important;
}
body.catalog-category-view ul.products-grid li:nth-child,
body.catalogsearch-result-index ul.products-grid li:nth-child {
  margin-right: 0 !important;
  clear: none !important;
}
body.catalog-category-view ul.products-grid li:nth-child(4n),
body.catalogsearch-result-index ul.products-grid li:nth-child(4n) {
  margin-right: 0 !important;
}
body.catalog-category-view ul.products-grid li:hover,
body.catalogsearch-result-index ul.products-grid li:hover {
  cursor: pointer;
}
body.catalog-category-view ul.products-grid li:hover .product-info .actions,
body.catalogsearch-result-index ul.products-grid li:hover .product-info .actions {
  display: block !important;
}
body.catalog-category-view ul.products-grid li:hover .product-info .actions button,
body.catalogsearch-result-index ul.products-grid li:hover .product-info .actions button {
  display: inline-block;
}
body.catalog-category-view ul.products-grid li:hover .product-info .actions div.add-to-links,
body.catalogsearch-result-index ul.products-grid li:hover .product-info .actions div.add-to-links {
  display: inline-block;
  width: 36%;
  margin-top: 3px;
}
body.catalog-category-view ul.products-grid li:hover .product-info .actions div.add-to-links div,
body.catalogsearch-result-index ul.products-grid li:hover .product-info .actions div.add-to-links div {
  display: inline-block;
  width: 45%;
}
body.catalog-category-view ul.products-grid li:hover .product-info .actions div.add-to-links div img,
body.catalogsearch-result-index ul.products-grid li:hover .product-info .actions div.add-to-links div img {
  width: 100%;
}
body.catalog-category-view ul.products-grid li:hover .product-info .outofstock_warning,
body.catalogsearch-result-index ul.products-grid li:hover .product-info .outofstock_warning {
  opacity: 0.5;
  position: absolute;
  width: 100%;
  min-height: 161px;
  top: -160%;
  background-color: #fff;
}
body.catalog-category-view ul.products-grid li:hover .product-info .outofstock_warning span,
body.catalogsearch-result-index ul.products-grid li:hover .product-info .outofstock_warning span {
  text-transform: uppercase;
  text-align: center;
  font-size: 14px;
  color: #0a263d;
}
body.catalog-category-view ul.add-to-links,
body.catalogsearch-result-index ul.add-to-links {
  display: inline-block;
  vertical-align: middle;
  list-style: none !important;
  margin-top: 0.3em;
}
body.catalog-category-view ul.add-to-links li,
body.catalogsearch-result-index ul.add-to-links li {
  border: none !important;
  box-shadow: none !important;
  display: inline-block;
  vertical-align: middle;
  max-width: 1.5vw;
  padding: 0;
  margin-right: 0 !important;
}
body.catalog-category-view ul.add-to-links li img,
body.catalogsearch-result-index ul.add-to-links li img {
  max-width: 100%;
}
body.catalog-category-view .category-products .toolbar,
body.catalogsearch-result-index .category-products .toolbar {
  border-top: none;
  background-color: #fff;
  margin-top: 0;
  padding: 0;
}
body.catalog-category-view .category-products .toolbar label,
body.catalogsearch-result-index .category-products .toolbar label {
  text-transform: lowercase;
}
body.catalog-category-view .category-products .toolbar label:first-letter,
body.catalogsearch-result-index .category-products .toolbar label:first-letter {
  text-transform: uppercase !important;
}
body.catalog-category-view .category-products .toolbar .count-container p,
body.catalogsearch-result-index .category-products .toolbar .count-container p {
  margin-left: 0 !important;
}
body.catalog-category-view .category-products .toolbar .count-container p span,
body.catalogsearch-result-index .category-products .toolbar .count-container p span {
  display: inline-block;
  color: #ccc !important;
}
body.catalog-category-view .category-products .toolbar .count-container p strong,
body.catalogsearch-result-index .category-products .toolbar .count-container p strong {
  display: inline-block;
  margin-left: 0.5em;
}
body.catalog-category-view .category-products .toolbar .pager,
body.catalogsearch-result-index .category-products .toolbar .pager {
  float: left !important;
  width: 26vw;
}
body.catalog-category-view .category-products .toolbar .sorter,
body.catalogsearch-result-index .category-products .toolbar .sorter {
  float: right !important;
}
body.catalog-category-view .category-products .toolbar .sorter select,
body.catalogsearch-result-index .category-products .toolbar .sorter select {
  width: 7vw !important;
  height: 27px !important;
  max-height: 27px !important;
  border-radius: 0 !important;
  font-size: 1.1em !important;
}
body.catalog-category-view .category-products .toolbar-bottom,
body.catalogsearch-result-index .category-products .toolbar-bottom {
  display: none !important;
}
body.catalog-category-view .toolbar_pager,
body.catalogsearch-result-index .toolbar_pager {
  height: 26px;
}
body.catalog-category-view .toolbar_pager .pager,
body.catalogsearch-result-index .toolbar_pager .pager {
  width: 50% !important;
  float: left !important;
}
body.catalog-category-view .toolbar_pager .limiter,
body.catalogsearch-result-index .toolbar_pager .limiter {
  float: right;
  width: 50%;
  text-align: right;
}
.outofstock {
  position: absolute;
  width: 95%;
  min-height: 161px;
  top: 9%;
  background-color: rgba(255, 255, 255, 0.7);
}
.outofstock div {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 5px;
  padding-right: 5px;
  background-color: #ffffff;
  margin-top: 45%;
}
.outofstock div span {
  text-align: center;
  font-size: 12px;
  color: #5e5d5d;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #fff;
}
body.catalogsearch-result-index .col-left-first {
  margin-top: 7.1%;
}
body.catalogsearch-result-index .msg a {
  padding-top: 10px;
  display: inline-block;
}
.block-layered-nav .currently {
  margin-bottom: 30px !important;
}
.block-layered-nav ol {
  padding-left: 0 !important;
}
.block-layered-nav ol li a.btn-remove {
  border: 1px solid #000000 !important;
}
.block-layered-nav ol li a.btn-remove:hover {
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.block-layered-nav ol li a.btn-remove:hover:after {
  color: #ffffff !important;
}
.block-layered-nav ol li a.btn-remove:after {
  color: #000000 !important;
}
.block-layered-nav ol li span.label {
  color: #000000 !important;
}
.block-layered-nav ol li span.value {
  color: #636363 !important;
}
.toolbar .pages {
  display: none !important;
}
#pager-wrapper .pages {
  float: left;
  margin-left: 0 !important;
}
#pager-wrapper .pages ol li {
  margin-right: 0 !important;
  padding-right: 0 !important;
  border: none !important;
}
#pager-wrapper .pages ol li.current {
  width: 25px !important;
  border: 1px solid #cccccc !important;
}
#pager-wrapper .pages ol li a {
  border-radius: 0 !important;
  padding-left: 3px !important;
  padding-right: 3px !important;
  padding-top: 0 !important;
  border: none !important;
}
#pager-wrapper .pages ol li a.next:before {
  border-left: 4px solid #000 !important;
}
#pager-wrapper .pages ol li a.previous {
  width: 17px !important;
}
#pager-wrapper .pages ol li a.previous:before {
  border-right: 4px solid #000 !important;
}
