body {
	@media screen and (max-width: 450px) {
		header {
			padding-left: 5px !important;
  			padding-right: 5px !important;

  			.page-header-container {
  				a {
  					&.logo {
					    width: 100% !important;
						max-width: 100% !important;
					    text-align: center;

					    img {
				    	    max-width: 200px !important;
						    margin: 0 auto !important;
					    }
  					}
  				}
  			}

  			.mobile_information {
  				display: none !important
			}

		}

		.footer {
			.links {
			    text-align: left !important;
			    padding-left: 5% !important;
			}
		}

		.footer-container{
			.newsletter {
				.content {
				    height: 136px !important;

				    .actions {
				    	float: right !important;
				    	display: block !important;
				    	margin-right: 5% !important; 
				    }
				}
			}
		}

		.pagend {
			.paymethods {
				.container {
					width: 153px !important
				}
			}

			.copyright{
				span {
					font-size: 12px !important;
				}
			}
		}

		&.cms-contacto {
			form {
				input {
					max-width: 383px !important;
				    width: 383px !important;
				}
			}
		}
		
		&.customer-account-login {
			.account-login {
				.new-users,  .registered-users {
					height: auto !important;

					.buttons-set { 
						padding-top: 0 !important;
					}
				}
			}
		}	

		&.catalog-category-view {
			.main {

				button {
					&.btn-cart {
						    padding: .2em .4em !important;
					}
				}
				.col-main {
					width: 100% !important;

					.sorter {
						select {
							width: 27vw !important;
						}
					}

					.col-left {
						width: 100% !important;

						.toggle-content {
							margin-top: 0 !important;
						}

						p {
							&.block-subtitle {
								background-color: #fff;
							    color: #000;
							    font-weight: bold;

							    &:after {
									border-left: 4px solid #000 !important;
								}
							}

							&.active {
								&:after {
									border-top: 4px solid #000 !important;
									border-left: 4px solid transparent !important;
								}
							}
						}

						dl {
							&#narrow-by-list {
								border: none !important;
								padding-top: 0 !important;

								dt, dd {
									line-height: 35px;
								    border-bottom: 1px solid #000;
								    border-left: none !important;
								    padding-bottom:0 !important;

								    &:after {
								    	border-left: none !important;
								    }
								}

								dt {
								    padding-left: 20px;
								    color: #000 !important; 

									&:after {
								    	border-left: 4px solid #000000 !important;
								    }
								}
							}
						}

						.accordion-open {
							dl {
								&#narrow-by-list {
									dt {
									    padding-left: 20px;
									    color: #000 !important; 

										&:after {
								    	    border-top: 4px solid #000000 !important;
								    	    border-left: 4px solid transparent !important;
									    }
									}
								}
							}
						}
					}

					.category-products {
						ul {
							li {
								width: 46% !important; 
								
								&:nth-child(2n) {
									margin-right:0 !important;
								}
							}
						}
					}
				}
			}
		}

		.modal-content {
			width: 80% !important;
			height: auto !important;
			padding-bottom: 5%;

			img {
				width: 100%;
			}

			section {
				&#newsletterform {
					padding-left: 5%;
				    padding-right: 5%;

				    form {
				    	input {
				    		width: 90%;
				    	}

				    }
				}
			}
		}

		&.catalog-product-view {
			.add-to-cart-wrapper {
				.add-to-cart-buttons {
					margin-left:0 !important;
					width: 42.5% !important;

					button {
						    font-size: 11px!important;
						    padding: 0 0px!important;
						    width: 100%;
						    max-width: 100%;
						    min-width: 80% !important;
					}
				}
			}

			.product-description {
				margin-top: 1rem !important;
			}
		}

		&.checkout-cart-index {
			.page-title {
				button {
					display: none !important
				}
			}
			.cart {
				.cart-table {
					width: 100% !important;

					tfoot {
						tr {
							td {
								button {
									span {
										font-size: 12px !important
									}
								}
							}
						}
					}
				}

				.cart-forms {
					width: 100% !important;
				}

				.cart-totals-wrapper {
					width: 100% !important;	
				}

				.cart-freeshipping-advice {
					width: 100% !important;
				    padding-left: 0 !important;
				}
			}
		}
	}

	@media screen and (max-width: 760px) { 

		header {
			.skip-nav {
				span {
					&.label {
						display: none !important;
					}
				}
			}

			.account-cart-wrapper {
				width: auto !important;	
				text-align: center !important;

				.account-link {
					a {
						background: none !important;
						background-color: none !important;
					}
				}

				.msg {
					display: none !important;
				}
			}

			#header-account {
				.links {
					li {
						a {
							line-height: 35px !important;
						}
					}
				}
			}
		}


		&.customer-account {
			.hello {
				font-style: normal !important;
			}

			.main-container {
				.block-reorder {
					display: none !important;
				}

				.block-account {
					.block-title {
						strong {
							background: none !important;
							background-color: none !important;
    						border: none !important;
    						margin-bottom: 0 !important;
						}

						&.active {
							strong {
								background: none !important;
								background-color: none !important;
							}
						}
					}

					.block-content {
						border: none !important;
						padding: 0 !important;

						ul {
							li {
							    border-bottom: 1px solid #cccccc;

							    &:last-of-type {
							    	border: none !important;
							    }

								a {
									line-height: 35px!important;
								    text-align: left;
								    padding-left: 1.5em!important;
								}
							}

						}
					}

				}
			}
		}

		&.catalog-category-view {
			.contact-phone{
    			margin-top: 1.7rem !important;
			}

			.main {
				.col-main {
					width: 100% !important
				}
			}
		}

		&.catalog-product-view {
			.product-essential {
				.short-description {
					display: none !important;
				}
			}

			ol {
				&.mini-products-list {
					li {
						width: 100% !important;

						.product {
							a {
								img {
									margin: 0 auto !important; 
								}
							}
						}
					}
				}
			}

			.box-reviews { 
				ul {
					&.form-list {
						float: none !important;
					    width: 100% !important;
					}
				}
			}

			#product-review-table {
				width: 100% !important;
				
				thead {
					th {
					    display: block !important;
						width: 100% !important;
						
						.rating-box {
							.rating-number {
								display: none !important;
							}

							.nobr{
								display: block !important;
							}
						}
					}
				}

				tbody {
					display: none !important;
				}
			}	
		}


		&.checkout-onepage-index {
			#checkout-progress-wrapper {
				display: none !important
			}
		}

	}

	@media screen and (min-width: 450px) and (max-width: 750px) { 
		.category-products {
			ul {
				li {
					width: 30% !important;
					&:nth-child(3n) {
						margin-right:0 !important;
					}

					&:nth-child(4n) {
						margin-right:1.56em !important;
					}

					&:last-of-type {
						margin-right: 0 !important;
					}
				}
			}
		}

		&.catalog-product-view {
			.add-to-cart-wrapper {
				.add-to-cart {
				    display: inline-block !important;
				}

				ul {
					&.sharing-links{
				    	display: inline-block;
					    position: relative;
					    height: 71px;
					    float: none !important;
					}
				}
			}
		}


		&.catalog-category-view {
			

			.main-container{
				padding-top: 0 !important;
			}

			.pager {
				display: none !important;
			}

			.sorter {
				select {
					width: 17vw !important;
				}
			}

			.col-left { 
				width: 100% !important;

				p {
					&.block-subtitle {
						background-color: #fff;
					    color: #000;
					    font-weight: bold;

					    &:after {
							border-left: 4px solid #000 !important;
						}
					}

					&.active {
						&:after {
							border-top: 4px solid #000 !important;
							border-left: 4px solid transparent !important;
						}
					}
				}

				dl {
					&#narrow-by-list {
						border: none !important;
						padding-top: 0 !important;

						dt, dd {
							line-height: 35px;
						    border-bottom: 1px solid #000;
						    border-left: none !important;
						    padding-bottom:0 !important;

						    &:after {
						    	border-left: none !important;
						    }
						}

						dt {
						    padding-left: 20px;
						    color: #000 !important; 

							&:after {
						    	border-left: 4px solid #000000 !important;
						    }
						}
					}
				}

				.accordion-open {
					dl {
						&#narrow-by-list {
							dt {
							    padding-left: 20px;
							    color: #000 !important; 

								&:after {
						    	    border-top: 4px solid #000000 !important;
						    	    border-left: 4px solid transparent !important;
							    }
							}
						}
					}
				}
			}
		}

		&.checkout-cart-index {
			.page-title {
				button {
					display: none !important
				}
			}

			.cart {
				.cart-table {
					width: 100% !important;

					tbody {
						td {
							&.product-cart-actions {
								button {
								    display: block !important;
								    margin: 0 auto !important;
								}
							}
						}
					}

					tfoot {
						tr {
							td {
								button {
									span {
										font-size: 12px !important
									}
								}
							}
						}
					}
				}

				.cart-totals-wrapper {
				    width: 55% !important;
				}

				.cart-freeshipping-advice {
					width: 55% !important;
   					padding-left: 10px !important;
				}
			}
		}

		&.checkout-onepage-index {
			ol {
				&#checkoutSteps {
					li {
						#checkout-step-login{
							.col-1 {
								height: 252px !important;

								.buttons-set{
									margin-top: 69px !important
								}
							}
						}
					}
				}
			}
		}
	}

	@media screen and (min-width: 765px) and (max-width: 800px) {
		header {
			padding-left: 15px;
			padding-right: 15px;

			.header-search-container {
				padding-left: 15px;
				padding-right: 15px;
			}

			.account-cart-wrapper {
				display: inline-block;
			    vertical-align: middle;
			    text-align: left;
			    padding-left: 15px;

			    .contact-phone {
			        margin-right: 40px;
			    }

			    .msg {
			    	margin-right: 40px;
			    }
			}

			.header-minicart {
				display: none !important
			}
		}

		.newsletter {
			height: 85px !important;

			input {
				height: 40px!important;
			}

			button {
				height: 42px!important;
			}
		}

		&.cms-home {
			.coleccion-destacada {
				.borders {
					width: 9.2rem;
				}
			}

			.widget-new-products {
				.widget-title {
					.borders {
						width: 33.9%;
					}
				}
			}

			.widget-products {
				width: 100% !important;

				ul {
					li {
						width: 28.5% !important;
					}
				}
			}
		}
	}
}