<?xml version="1.0"?>
<!--
  /**
    * Copyright © 2016 AddShoppers.com
    */
-->
<config>
    <tabs>
        <addshoppers_config translate="label" module="addshoppers">
            <label>AddShoppers</label>
            <sort_order>2</sort_order>
        </addshoppers_config>
    </tabs>
    <sections>
        <!-- Settings -->
        <addshoppers translate="label" module="addshoppers">
            <label>Settings</label>
            <!-- <class>addshoppers-tab</class> -->
            <tab>addshoppers_config</tab>
            <frontend_type>text</frontend_type>
            <sort_order>1</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <settings translate="label">
                    <label>Configuration</label>
            		<frontend_model>addshoppers/adminform</frontend_model>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store> 
                </settings>
            </groups>
        </addshoppers>

        <!-- Dashboard (Iframe) -->
        <addshoppers_iframe translate="label" module="addshoppers" >
            <label>Dashboard</label>
            <tab>addshoppers_config</tab>
            <frontend_type>text</frontend_type>
            <sort_order>2</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <info>
                    <frontend_model>addshoppers/adminhtml_system_config_fieldset_info</frontend_model>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                </info>
            </groups>
        </addshoppers_iframe>
    </sections>
</config>